.input-style {
    padding: 10px;
    width: 165px;
    margin: 2px;
}

.command-btn-style {
    cursor: pointer;
    padding: 10px;
    width: 165px;
    margin: 2px;
    background-color: aquamarine;
}

h3 {
    font-family: fantasy;
}