/*h1 {
    font-family: monospace;
}*/

main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
}

main span {
    position: relative;
}

main span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    background: #000;
    bottom: 53px;
    transition: all 0.2s ease-out;
}

main p:hover {
    background-position: 0 11px;
}

main span:hover:before {
    transform: translateY(10px)
}